language: python
python:
  - 3.6
  - 3.7
  - "nightly"

matrix:
  allow_failures:
    - python: "nightly"

sudo: false

addons:
  apt_packages:
    - pandoc
    - texlive-xetex

install:
  - curl http://tug.ctan.org/macros/generic/iftex/iftex.sty > /usr/share/texlive/texmf-dist/tex/latex/iftex/iftex.sty
  - pip install -r requirements.txt

script:
  - coverage run -m unittest discover

after_success:
  - codecov